name: Terraform Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  terraform-validate-plan:
    runs-on: ubuntu-latest
    env:
     
      GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.3

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: ./terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./terraform

      # - name: Terraform Plan
      #   run: terraform plan -input=false
      #   working-directory: ./terraform
